.App {
  display: flex;
  flex-direction: column;
}

.App-menu-loading {
  position: absolute;
  left: 10px;
  top: 7px;
}

.App-header {
  background-color: #282c34;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-title {
  font-size: 20px;
  padding: 10px;
}

.App-images-loading {
  height: 350px;
  background-color: #282c34;
}

.App-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 200px;
}

.App-image-container img {
  max-height: 100%;
  max-width: 100%;
}
